
// Reset

body {
  font-weight: 100;
  padding-top: 68px;
}
hr {
  height: 1px;
  border: 0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  @include gradient-directional($start-color: $primary-color, $end-color: $secondary-color, $deg: -135deg);
}
h1, h2, h3, h4, h5, h6, label {
  font-weight: bold;
}

// Helpers

.font-size-sm {
  font-size: $font-size-sm;
}
.font-size-xs {
  font-size: $font-size-xs;
}
.sect-title {
  @extend .text-uppercase;
  display: inline-block;
  margin-bottom: 3rem;
  &:after {
    margin-top: 1rem;
    content: ' ';
    display: block;
    width: 100%;
    height: 3px;
    @include gradient-directional($start-color: $primary-color, $end-color: $secondary-color, $deg: -135deg);
  }
}

// Boostrap Reset

.text-uppercase {
  letter-spacing: 2px;
}
.btn-primary {
  @include gradient-directional($start-color: $primary-color, $end-color: $secondary-color, $deg: -135deg);
  border: 0;
  &:hover {
    margin-top: -1px;
    box-shadow: 1px 1px 20px rgba($primary-color, .5);
  }
}
.btn-skew {
  font-size: $font-size-sm;
  transform: skewX(-15deg);
  .btn-skew-content {
    transform: skewX(15deg);
    display: inline-block;
    margin-top: 4px;
  }
}
.card {
  box-shadow: 0 10px 20px rgba($black, .15);
}

// Navbar

.navbar {
  z-index: 3;
  .navbar-nav .nav-link {
    font-weight: 100;
    padding: 1rem 1.5rem;
    font-size: $font-size-sm;
  }
}

@include media-breakpoint-only(lg) {
  .navbar .navbar-nav .nav-link {
    padding: 1rem;
    font-size: $font-size-xs;
  }
}

// Contacto

.contacto {
  background-image: url('/assets/images/contacto/bg.png');
  background-size: cover;
}
