// Contacto

  .contacto {
    background-image: url('/assets/images/contacto/bg.png');
    background-size: cover;
  }

// Nosotros

  .nosotros-white {
    background-image: url('/assets/images/nosotros/bg.png');
    background-size: cover;
  }

  .nosotros-blue {
    background-image: url('/assets/images/nosotros/bg-blue.png');
    background-size: cover;
  }
