
@font-face {
font-family: 'Camphor';
src: url('../../fonts/CamphorPro-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

$custom-font-size: 17px;
$black: #000;
$dark: $black !default;

$primary-color: #00D7F8;
$secondary-color: #501296;

$font-family-sans-serif: 'Nanami';
$font-family-base:       $font-family-sans-serif;

$font-size-sm: .85rem;
$font-size-xs: .7rem;

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
